<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php"
    colors="true">
    <testsuites>
        <testsuite name="Main">
            <file>./tests/ClassGeneratorTest.php</file>
            <file>./tests/TestGeneratorTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">tests</directory>
                <directory suffix=".php">src</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>